ul {
  list-style: none;
}
.teampix {
  display: flex;
  flex-direction: column;
  align-items: center ;
  height: 10rem;
  width: 10rem;
}
.intro2 {
  display: none;
}
.titlelogo {
  text-decoration: none ;
  color: black;
}
button {
  font-family: sans-serif;
  color: black;
  font-size: 15px;
  margin-right: 0.01px;
  margin-left: 2px;
}
