ul {
  list-style: none;
}
.teampix {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  height: 10rem;
  width: 10rem;
}
button {
  font-family: sans-serif;
  color: black;
  margin-right: 5px ;
  font-size: 15px;
  margin-left: 2px;
}
